@import 'constants';

*{
    padding: 0;
    margin: 0;
}

.container {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

.block.date {
    font-size: 32px;
}

.exercise {
    .exercise__info {
        width: 100%;
        .name {
            font-size: 25px;
            text-align: left;
        }
        .last_training {
            margin: 10px 0 10px 20px;
        }
    }
    .exercise__sets {
        width: 100%;
        .set {
            display: grid;
            grid-template-columns: minmax(10px, 40px) repeat(2,  max-content) 60px;
            column-gap: 10px;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            .set-point {
                width: 10px;
                height: 10px;
                background-color: $accent-color;
                border-radius: 50%;
                justify-self: center;
            }
            label {
                input {
                    width: 40px;
                    text-align: center;
                    &:disabled {
                        opacity: 50%;
                    }
                }
                &.weight input {
                    width: 60px;
                }
            }
            .btn {
                max-width: 60px;
            }
            
        }
    }
}

.add_exercise {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 30%;
    gap: 15px;
    input {
        margin-left: 11px;

        min-width: 0;
        
        height: 35px;
        padding: 0 10px;
        
    }
    .add_xrcs {
        max-width: 100px;
    }
    
}